APP_ENV=local
APP_KEY=base64:7NNr9DIk2x2k4o+9GTngy1i3Y+9S1qNRSoUGn4bDtFk=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://blog.test/

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=texmart
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=log
